body {
    font-family: Arial, sans-serif;
    background-color: #23a9e4;  /* Achtergrondkleur van de gehele pagina */
    margin: 0;
    padding: 0;
    color: white;  /* Zorgt ervoor dat de tekst goed zichtbaar is */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    padding: 15px;  /* Houd de padding van invoervelden en knoppen normaal */
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;  /* Normale grootte van invoervelden en knoppen */
}

button {
    background-color: white;
    color: #23a9e4;
    font-size: 18px;
    cursor: pointer;
}

button.reset-btn {
    background-color: #23a9e4;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#qrCodePopup {
    margin-top: 20px;
    text-align: center;
}

#qrCodePopup img {
    width: 400px;  /* De standaard grootte van de QR-code voor desktop */
    height: auto;
}

#downloadLink {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;  /* Normale grootte voor de downloadlink */
    text-align: center;
}

#downloadLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, textarea, button {
        font-size: 18px;  /* De fontgrootte van invoervelden en knoppen op mobiel blijft normaal */
        padding: 15px;  /* Padding van invoervelden en knoppen blijft normaal */
    }

    #qrCodePopup img {
        width: 600px;  /* Vergroot de QR-code op mobiel */
        height: auto;
    }

    #downloadLink {
        font-size: 24px;  /* Vergroot de downloadlink op mobiel */
    }
}
