body {
    font-family: Arial, sans-serif;
    background-color: #23a9e4;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #23a9e4;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #23a9e4;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1e8bbd;
}

.qr-container {
    text-align: center;
    margin-top: 20px;
}

.reset-btn {
    background-color: #f44336;
}

.reset-btn:hover {
    background-color: #d32f2f;
}

#qrCode {
    display: block;
    margin: 0 auto;
    max-width: 250px; /* Vergroten van de QR-code op desktop */
    height: auto;
}

/* Flexbox voor centreren in de pop-up */
#qrCodePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#popupTitle {
    font-size: 24px;
    margin-bottom: 15px;
}

#downloadLink, button {
    font-size: 18px;
    margin-top: 10px;
}

/* Vergroten voor mobiel */
@media (max-width: 600px) {
    /* Verander de container margin en padding voor mobiel */
    .container {
        margin: 20px auto;
        padding: 15px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    input[type="text"], input[type="email"], textarea {
        font-size: 14px;
        padding: 10px;
    }

    /* Vergroot tekst boven de QR-code en de knoppen onderaan voor mobiel */
    #popupTitle {
        font-size: 40px; /* Vergroot de titel voor mobiel */
    }

    #downloadLink, button {
        font-size: 28px; /* Vergroot de tekst van de knoppen voor mobiel */
    }

    /* Vergroot de QR-code op mobiel */
    #qrCode {
        max-width: 350px; /* Vergroot de QR-code op mobiel */
    }
}
