body {
    font-family: Arial, sans-serif;
    background-color: #23a9e4;  /* Achtergrondkleur van de gehele pagina */
    margin: 0;
    padding: 0;
    color: white;  /* Zorgt ervoor dat de tekst op een witte achtergrond goed zichtbaar is */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    padding: 15px;  /* Huidige padding behouden voor invoervelden en knoppen */
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;  /* Huidige fontgrootte behouden voor invoervelden en knoppen */
}

button {
    background-color: white;
    color: #23a9e4;
    font-size: 18px;
    cursor: pointer;
}

button.reset-btn {
    background-color: #23a9e4;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#qrCodePopup {
    margin-top: 20px;
    text-align: center;
}

#qrCodePopup img {
    max-width: 100%;  /* Zorg ervoor dat de QR-code niet breder is dan het scherm */
    height: auto;
    width: 400px;  /* Verhoog de QR-code naar 400px breed */
}

#downloadLink {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;  /* Verhoog de downloadlink grootte */
    text-align: center;
}

#downloadLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, textarea, button {
        font-size: 18px;  /* Fontgrootte voor invoervelden en knoppen blijft hetzelfde */
        padding: 15px;  /* Padding voor invoervelden en knoppen blijft hetzelfde */
    }

    #qrCodePopup img {
        width: 600px;  /* Verhoog de QR-code tot 600px breed voor mobiel */
        height: auto;
    }

    #downloadLink {
        font-size: 24px;  /* Vergroot de downloadlink voor mobiel */
    }
}
